services:
  postgres:
    container_name: postgres_container
    image: postgres:14
    environment:
      POSTGRES_USER: sachin
      POSTGRES_PASSWORD: Sachin@2247
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres
    ports:
      - "5432:5432"
    networks:
      - backend
    restart: unless-stopped
  pgadmin:
    container_name: pgadmin_container
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:--padmin4@pgadmin.org}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
    ports:
      - "5050:80"
    networks:
      - backend
    restart: unless-stopped
<<<<<<< HEAD
#  rabbitmq:
#    container_name: rabbitmq_container
#    image: rabbitmq:3-management
#    environment:
#      RABBITMQ_DEFAULT_USER: guest
#      RABBITMQ_DEFAULT_PASS: guest
#    ports:
#      - "5672:5672"  #for rabbitmq
#      - "15672:15672"  # RabbitMQ ManagementUI
#    networks:
#      - backend
#    restart: unless-stopped
=======
  rabbitmq:
    container_name: rabbitmq_container
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    ports:
      - "5672:5672"  #for rabbitmq
      - "15672:15672"  # RabbitMQ ManagementUI
    networks:
      - backend
    restart: unless-stopped
>>>>>>> 45ce038add230c33c78ad8d28ef5fcb717f61b0c

networks:
  backend:
    driver: bridge

volumes:
  postgres:
  pgadmin: