spring:
  datasource:
<<<<<<< HEAD
    url: jdbc:postgresql://localhost:5432/order?timezone=Asia/Kolkata
    username: sachin
    password: Sachin@2247
=======
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASS}
>>>>>>> 45ce038add230c33c78ad8d28ef5fcb717f61b0c
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.PostgreSQLDialect
<<<<<<< HEAD


  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST:guest}
    connection-timeout: 30000
=======
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
>>>>>>> 45ce038add230c33c78ad8d28ef5fcb717f61b0c

management:
  endpoints:
    web:
      exposure:
        include: "*"
<<<<<<< HEAD
  endpoint:
=======
  endpoint:  # it's singular(endpoint) to get details
>>>>>>> 45ce038add230c33c78ad8d28ef5fcb717f61b0c
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
<<<<<<< HEAD

server:
  port: 8083

# not setting any rabbitmq properties rather externalizing some properties to be used on configuration of rabbitmq
rabbitmq:
  exchange:
    name: order.exchange
  queue:
    name: order.queue
  routing:
    key: order.tracking


=======
server:
  port: 8083

>>>>>>> 45ce038add230c33c78ad8d28ef5fcb717f61b0c
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    hostname: localhost

logging:
  level:
    root: INFO
    com.ecommerce_micro_service.user: TRACE
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7

<<<<<<< HEAD
=======
#circuit-breaker
>>>>>>> 45ce038add230c33c78ad8d28ef5fcb717f61b0c
resilience4j:
  circuitbreaker:
    instances:
      productService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOdCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true
        slidingWindowType: count_based
<<<<<<< HEAD
  retry:
    instances:
      addToCartRetry:
        maxAttempt: 5
        wait-duration: 500ms
        enable-exponential-backoff: true
        exponential-backoff-multiplier: 1.5
        exponential-max-wait-duration: 5s
=======
>>>>>>> 45ce038add230c33c78ad8d28ef5fcb717f61b0c
