spring:
  data:
    mongodb:
      uri: mongodb://mongo:27017/ecom_user
      database: ecom_user
      #uri: mongodb+srv://sachinbhagat:Sachin%402247@user-db-ecom.wn0vmwj.mongodb.net/?retryWrites=true&w=majority&appName=user-db-ecom
#      uri: ${DB_URI}
#      database: userdb
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST:guest}
    connection-timeout: 30000

management:
  endpoints:
    web:
      exposure:
        include: "*"
server:
  port: 8082

eureka:
  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/
    register-with-eureka: true
    fetch-registry: true
  instance:
    prefer-ip-address: true
    ip-address: 127.0.0.1
    hostname: localhost
logging:
  level:
    root: INFO
    com.ecommerce_micro_service.user: TRACE
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7


keycloak:
  admin:
    username: sachin
    password: sachin
    server-url: http://keycloak:8080
    realm: Ecom-App
    client-id: admin-cli
    client-uid: 4d794237-5ef7-49a7-ac8a-9d6731ea5884