spring:
  data:
    mongodb:
      uri: ${DB_URI}
      database: ecom_user
  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST:guest}
    connection-timeout: 30000

management:
  endpoints:
    web:
      exposure:
        include: "*"
server:
  port: 8082

eureka:
  instance:
    hostname: user              # Use Docker hostname
    ip-address: user            # >>> REQUIRED <<<
    prefer-ip-address: false    # Use hostname instead of a raw IP
    instance-id: user:8082
    non-secure-port: 8082

  client:
    serviceUrl:
      defaultZone: http://eureka:8761/eureka/
    register-with-eureka: true
    fetch-registry: true


logging:
  level:
    root: INFO
    com.ecommerce_micro_service.user: TRACE
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7


keycloak:
  admin:
    username: sachin
    password: sachin
    server-url: http://keycloak:8080
    realm: Ecom-App
    client-id: admin-cli
    client-uid: 4d794237-5ef7-49a7-ac8a-9d6731ea5884