spring:
  application:
    name: configServer
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
<<<<<<< HEAD
          search-locations: file:///C:\Users\Sachin Bhagat\OneDrive\Desktop\EcomMicroServices-main\configServer\src\main\resources\config

  rabbitmq:
    host: ${RABBITMQ_HOST:localhost}
    port: ${RABBITMQ_PORT:5672}
    username: ${RABBITMQ_USERNAME:guest}
    password: ${RABBITMQ_PASSWORD:guest}
    virtual-host: ${RABBITMQ_VHOST:guest}
    connection-timeout: 30000
=======
          search-locations: file:///C:\Users\ritwi\OneDrive\Desktop\MicroServices\configServer\src\main\resources\config
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
>>>>>>> 45ce038add230c33c78ad8d28ef5fcb717f61b0c

management:
  endpoints:
    web:
      exposure:
        include: "*"
server:
  port: 8888